@import "~@navikt/ds-tokens/dist/tokens.less";

.vedleggsliste {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  margin-top: 0.5rem;
  .vedleggslenke {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
  }
}

.vedleggsliste-item {
  border-top: 2px solid @navds-semantic-color-divider;
  padding: 1.125rem 0 1.125rem 0em;
  .vedleggsliste-item-ingress {
    color: @navds-semantic-color-text-muted;
  }
  .maskert-etiketter__advarsel{
    margin-bottom: 0.5rem;
  }
}

.vedleggslenke {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 2px solid transparent;
  border-top: 2px solid @navds-semantic-color-divider;
  border-radius: 4px;

  padding: 1.125rem 0 1.125rem 0em;
  text-decoration: none;
  color: @navds-semantic-color-text;

  &:hover {
    border: 2px solid @navds-semantic-color-interaction-primary-hover;
    .vedleggslenke__chevron {
      left: 0.25em;
    }
  }

  &__chevron {
    transition: left 250ms;
    top: -1px;
    left: -2px;
  }
}
