.maskertelement {
  padding-top: 1.625em;
  padding-bottom: 0.45em;
  border-bottom: 1px solid #B7B1A9;
}

.maskert-header {
  display: flex;
  align-items: center;

  &__tekst {
    padding-left: 0.25em;
  }
}

.maskert-etiketter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1.625em;

  &__dato {
    padding-right: 0.45em;
  }

  &__advarsel {
    padding: 0 0.245em;
  }
}
