
.page-base {
  width: 100%;
  max-width: 800px;

  .panel-feil {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__tittel {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
  }
}

.page-wrapper {
  padding: 0 0.5em;
}
