.infopanel {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1.645em;
}

.infopanel-box {
  display: flex;
  align-items: center;

  &__tekst {
    padding-left: 0.825em;
    color: #0067c5;
  }
}
